body{
    margin: 0;
}


#canvas{
    background: grey;
    display:block;
}

/*为自己的程序
button#rubber{
    position: fixed;为什么不写这句话就消失了？
    top:20px;
    left: 30px;
}
button#pen{
    position: fixed;
    top:20px;
    left: 70px;
    margin-left:80px;
}
*/
.actions{
    position: fixed;
    top: 0;
    left: 0;    
}
.actions > #pen{
    display: none;
}
.actions.x > #pen{
    display: inline-block;
}
.actions.x > #rubber{
    display: none;
}